# **Data Collection**

In [10]:
import yfinance as yf
import pandas as pd

In [11]:
eth_data = yf.download('ETH-USD', start='2017-11-09', end='2025-04-18', interval='1d')

[*********************100%***********************]  1 of 1 completed

In [12]:
eth_data = eth_data[['Open', 'High', 'Low', 'Close', 'Volume']]

In [13]:
eth_data.head()

Price             Open        High         Low       Close      Volume
Ticker         ETH-USD     ETH-USD     ETH-USD     ETH-USD     ETH-USD
Date
2017-11-09  308.644989  329.451996  307.056000  320.884003   893249984
2017-11-10  320.670990  324.717987  294.541992  299.252991   885985984
2017-11-11  298.585999  319.453003  298.191986  314.681000   842300992
2017-11-12  314.690002  319.153015  298.513000  307.907990  1613479936
2017-11-13  307.024994  328.415009  307.024994  316.716003  1041889984

In [14]:
eth_data = eth_data.fillna(method='ffill')

C:\Users\Waqas\AppData\Local\Temp\ipykernel_5116\571509288.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  eth_data = eth_data.fillna(method='ffill')

In [16]:
eth_data.to_csv('../Data/eth_usdt_data.csv') 
eth_data.head()

Price             Open        High         Low       Close      Volume
Ticker         ETH-USD     ETH-USD     ETH-USD     ETH-USD     ETH-USD
Date
2017-11-09  308.644989  329.451996  307.056000  320.884003   893249984
2017-11-10  320.670990  324.717987  294.541992  299.252991   885985984
2017-11-11  298.585999  319.453003  298.191986  314.681000   842300992
2017-11-12  314.690002  319.153015  298.513000  307.907990  1613479936
2017-11-13  307.024994  328.415009  307.024994  316.716003  1041889984